.footer{
    font-size: 1.2rem;
    
    text-align: center;
    
    &__link{
        
        
        
       color: #27A7D4;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 0 10px;
    border-left: solid 1px #A7A7A7; 
        
        
        
    }
    
    
}