.heading-primary{
    
    color: #fff;
    
    &--main{
        
        font-size:3.6rem;
       
        
    }
    
    &--sub{
        display:block;
        font-size: 1.8rem;
        
        
        
    }
}

.gobal__para{
    
    font-size:1.6rem;
    line-height: 1.57;
    color:#707070;
    margin: 0
    
    
}

.gobal-icon{
    
    font-size: 2.5rem;
    color: #07BEE8;
    
}



.secondary-heading{

    font-size: 2rem;
    font-weight: 300;
    font-family: "Helvetica Neue LT W01_71488914", Arial, Sans-Serif;
    color: #4a4a4a;
}